.colorize1 {
  color: rgb(0, 0, 0);
  height: 100px;
}
.colorize2 {
  color: rgb(219, 204, 204);
}

.colorize3{
  color:rgb(100, 141, 136)
}
.input {
  border: 2px solid rgb(26, 75, 3);
  border-radius: 4px;
  background-color: #0d3526;
  color:white
}


